.firaSansFont {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* Banner section style started */
.bannerNavigation ul {
    display: flex;
    justify-content: space-between;
    padding: 24px 160px 20px 160px;
}

.bannerNavigation ul li {
    list-style: none;
    margin-bottom: 20px;
}

.bannerNavigation .navTitle {
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}

.bannerNavigation .navBtn {
    padding: 15px 30px;
    border: 2px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    /* border-style: none; */
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 106, 80, 1);
}

.banner {
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    margin: 0px 160px;
}

.bannerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.bannerContainer .leftBannerColumn {
    padding: 117px 0px 117px 60px;
}

.bannerContainer .rightBannerColumn {
    padding: 80px 60px 80px 0px;
}

.bannerContainer .leftBannerColumn p {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}

.bannerContainer .leftBannerColumn h1 {
    font-size: 56px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;
}

.bannerContainer .bannerBtn,
.recentNewsContainerDescription .bannerBtn {
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;
    border-radius: 8px;
    border-style: none;
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

/* Banner style end */




/* The version of future section style started */

main {
    margin: 0px 160px;
}

.versionFuture .versionTitle {
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin: 80px 0px 24px 0px;
}

.versionFuture .versionDetails {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.versionContainers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.versionContainers .versionContainer {
    border-radius: 16px;
    padding: 32px;
}


.versionContainers img {
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
}

.versionContainers h5 {
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}

.versionContainers p {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}

.versionContainers button {
    padding: 11px 20px;
    border-radius: 8px;
    border-style: none;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

/* The version of future section style ended */



/* Recent news section style started */
.recentNews {
    margin-top: 80px;
}

.recentNewsTitle {
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;
}

.recentNewsDescription {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.recentNewsContainer {
    display: flex;
    padding: 48px;
    border-radius: 24px;
    gap: 32px;
    /* background: rgb(255, 255, 255); */
    box-shadow: 1px 1px 30px 20px rgb(245, 241, 241);
}

.recentNewsContainer .recentNewsImage img {
    border-radius: 24px;
}

.recentNewsContainerDescription h2 {
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}

.recentNewsContainerDescription img {
    margin-bottom: 12px;
}

.recentNewsContainerDescription h6 {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 12px;
}

.recentNewsContainerDescription p {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.recentNewsContainerSecond {
    flex-direction: row-reverse;
    margin-top: 24px;
}