.firaSansFont {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;

}



/* Banner section style started */
.bannerNavigation ul {
    display: flex;
    justify-content: space-between;
    padding: 24px 160px 20px 160px;
}

.bannerNavigation ul li {
    list-style: none;
    margin-bottom: 20px;
}

.bannerNavigation .navTitle {
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}

.bannerNavigation .navBtn {
    padding: 15px 30px;
    border: 2px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    /* border-style: none; */
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 106, 80, 1);
}

.banner {
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    margin: 0px 160px;
}

.bannerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.bannerContainer .leftBannerColumn {
    padding: 117px 0px 117px 60px;
}

.bannerContainer .rightBannerColumn {
    padding: 80px 60px 80px 0px;
}

.bannerContainer .leftBannerColumn p {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}

.bannerContainer .leftBannerColumn h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;
}

.bannerContainer .bannerBtn,
.recentNewsContainerDescription .bannerBtn,
.donate button {
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;
    border-radius: 8px;
    border-style: none;
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

/* Banner style end */




/* The version of future section style started */

main {
    margin: 0px 160px;
}

.versionFuture .versionTitle {
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin: 80px 0px 24px 0px;
}

.versionFuture .versionDetails {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.versionContainers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.versionContainers .versionContainer {
    border-radius: 16px;
    padding: 32px;
}


.versionContainers img {
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
}

.versionContainers h5 {
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}

.versionContainers p {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}

.versionContainers button {
    padding: 11px 20px;
    border-radius: 8px;
    border-style: none;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.versionContainer .versionContainerBtn1 {
    background-color: rgba(84, 144, 245, 1);
}

.versionContainer .versionContainerBtn2 {
    background-color: rgba(9, 161, 92, 1);
}

.versionContainer .versionContainerBtn3 {
    background-color: rgba(255, 194, 57, 1);
}

/* The version of future section style ended */



/* Recent news section style started */
.recentNews {
    margin-top: 80px;
}

.recentNewsTitle {
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;
}

.recentNewsDescription {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.recentNewsContainer {
    display: flex;
    padding: 48px;
    border-radius: 24px;
    gap: 32px;
    /* background: rgb(255, 255, 255); */
    box-shadow: 1px 1px 30px 20px rgb(245, 241, 241);
}

.recentNewsContainer .recentNewsImage img {
    border-radius: 24px;
}

.recentNewsContainerDescription h2 {
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}

.recentNewsContainerDescription img {
    margin-bottom: 12px;
}

.recentNewsContainerDescription h6 {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 12px;
}

.recentNewsContainerDescription p {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.recentNewsContainerSecond {
    flex-direction: row-reverse;
    margin-top: 24px;
}

/*  End of Recent news style*/






/* Start of donate today section style */
.donate {
    text-align: center;
}

.donate .donateTitle {
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-top: 80px;
    margin-bottom: 24px;
}

.donate .donateDescription {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.donateAmount {
    display: flex;
    /* margin: 0px 104px; */
    justify-content: center;
    gap: 24px;
}

.donateAmount .amount {
    padding: 40px;
    border: 0.5px solid grey;
    border-radius: 16px;
    box-shadow: 0.5px 0.5px 30px 20px rgb(245, 241, 241);
}

.donateAmount .amount h1 {
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}

.donate input[type=text] {
    font-size: 20px;
    font-weight: normal;
    color: rgba(247, 246, 246, 0.394);
    padding: 20px 422px 20px 422px;
    margin-top: 32px;
    margin-bottom: 32px;
    border-radius: 0;
    border-style: none;
    box-shadow: 0.5px 0.5px 30px 20px rgb(245, 241, 241);
}

/* End of donate today section style */




/* newsletter section style started */
.newsletter {
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    padding: 80px 265px;
    text-align: center;
}

.newsletter .newsletterTitle {
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 16px;
}

.newsletter .newsletterDescription {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}

.newsletter .newsletterInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter input[type=text] {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.3);
    padding: 18px 400px 18px 40px;
    border-radius: 8px 0px 0px 8px;
    border-style: none;
    /* box-shadow: 0.5px 0.5px 30px 20px rgb(245, 241, 241); */
}

.newsletterInput button {
    border-radius: 0px 8px 8px 0px;
    border-style: none;
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.newsletter .newsletterPromise {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
}

/* Ended of newsletter section */


/* Hover effect style started */
.bannerNavigation .navBtn:hover,
.banner .bannerBtn:hover,
.versionFuture .versionContainers button:hover,
.recentNewsContainerDescription .bannerBtn:hover,
.donate button:hover,
.newsletter button:hover,
.donateAmount .amount:hover {
    background-color: rgba(44, 24, 178, 0.959) !important;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.amount:hover h1,
.navBtn:hover {
    color: #ffffff;
}


/* Quote section style started */
#quoteSection {
    padding: 0px 25px;
}

.quote {
    margin-top: 27px;
}

.quoteSection {

    margin-top: 32px;
    /* padding: 48px 24px; */
    border: 0.25px solid rgb(221, 220, 220);
    border-radius: 16px;
}

.quoteSectionBgImg {
    background-image: url("/assets/quote-bg.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    padding: 30px 20px;
    box-sizing: border-box;
}

.quoteSection .quote {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}

.quoteSection .advisorTitle {
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.6);
    margin-bottom: 4px;
}

.hide {
    display: none;
}

@media screen and (max-width: 576px) {

    .versionContainers,
    .bannerContainer {
        flex-direction: column;
    }

    main,
    .banner {
        margin: 0px 10px;
    }

    .donateAmount {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .donateAmount .amount h1 {
        font-size: 25px;
    }

    .donate input[type=text] {
        padding: 20px 140px;
    }

    .bannerContainer .leftBannerColumn,
    .bannerContainer .rightBannerColumn {
        padding: 0px;
        margin: 0px 10px;
    }

    .bannerNavigation ul {
        padding: 0px;
        margin: 10px;
    }
}